/kustomize
/k8s/authelia/overlays/production/secret/MYSQL_DATABASE
/k8s/authelia/overlays/production/secret/MYSQL_PASSWORD
/k8s/authelia/overlays/production/secret/MYSQL_ROOT_PASSWORD
/k8s/authelia/overlays/production/secret/MYSQL_USER
/k8s/authelia/overlays/production/secret/REDIS_PASS
/k8s/authelia/overlays/production/authelia-config.yaml
